@import url('http://fonts.googleapis.com/css?family=Ubuntu'); 

html {
    height: 100%;
    background: #999; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeefff', endColorstr='#bbbccc'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#eef), to(#bbc)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #eef,  #bbc); /* for firefox 3.6+ */ 
}

html, body {
    font-family: Ubuntu;
    width: 100%;
    float: left;
}

#container {
    width: 70%;
    margin: auto;
    background-color: white;
    float: left;
    margin-left: 15%;  /* This coincides with the width.  Must adjust by / 2. */

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}

#content {
    width: 100%;
    float: left;
}

#footer {
    width: 100%;
    border: 1px solid green;
    float: left;
}

#header {
    padding-top: 1%;
    width: 100%;
    float: left;
    border: 2px solid rgb(233, 233, 244);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-box-shadow: 0px 5px 10px #ccc;
    
    box-shadow: inset 0px 5px 10px #ccc;
}

#icons {
    width: 100%;
    float: left;
    text-align: right;
}

.icon {
    border: none;
    width: 32px;
    height: 32px;
    padding: 0.5%;
}

.iconpad {
    padding-right: 15%;
}

#name  {
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    float: left;
    padding-left: 10%;
}

#subtitle {
    width: 100%;
    font-size: 1em;
    font-style: italic;
    float: left;
    color: gray;
    padding-left: 20%;
}


