<p class="position">Programming Intern  
					<br/><span class="date">
						May 2011 - August 2011
					</span>
				</p>
				<p class="company">Datranmedia, LLC</p>
				<p class="job_desc">
					- Wrote helper scripts in PHP, Python and Javascript<br/>
					- Wrote internal tools for the www.top-colleges.com back-end<br/>
					- Attended to JIRA tickets filed by the account management team<br/>
					- Used Perforce to commit system changes<br/>
					
				</p>
				<p class="position">Technology Support Intern  
					<br/><span class="date">
						September 2009 - June 2010
					</span>
				</p>
				<p class="company">New York Department of Education</p>
				<p class="job_desc">
					- Maintained the website http://www.innovationdp.org/<br/>
					- Assisted DOE staff with computer problems<br/>
					- Configured CISCO Pro-Con servers when Internet issues arose<br/>
					- Configured printers, copiers, and desktops through sub-netted LAN networks<br/>
					- Setup over 900 Lenovo laptops for said High School<br/>
</p>
<br />
<br />
<a id="back_btn" href="#"> << back</a>