
<p class="position">Software Developer 
					<br/><span class="date">
						February 2012 - Present
					</span>
				</p>
				<p class="company">Offerpop</p>
				<p class="job_desc">
				</p>
<p class="position">Web Developer Intern 
					<br/><span class="date">
						May 2011 - August 2011
					</span>
				</p>
				<p class="company">Ignighter, INC.</p>
				<p class="job_desc">
					- Programmer for email notification sub-system (www.ignighter.com)<br/>
					- Co-authored a mock Windows Phone 7 company application<br/>
					- Used Git/Github to commit source changes<br/>
					- Refactored procedural code to a more OO code<br/>
					
				</p>
				<p class="position">Software Engineering Intern 
					<br/><span class="date">
						February 2011 - June 2011
					</span>
				</p>
				
				<p class="company">DOHMH Office of Emergency Environmental Information (New York, NY)</p>
				<p class="job_desc">
					- Extended an internal authentication/authorization system (C#)<br/>
					- Worked on a number intranet ASP.NET MVC 2 applications<br/>
					- Fixed bugs for a proprietary optical character recognition(OCR) application<br/>
					- Helped transition the current relational data-model to a document based data-store<br/>
       (MongoDB)<br/>
					- Used SVN to commit source changes
</p>
